// For material-design-lite
$color-primary: '33, 150, 243';
$color-secondary: '255, 82, 82';

// External styles
@import 'material-icons';
@import 'material-design-lite';

// App styles
@import 'material-extras';

a {
  text-decoration: none;
}

.transaction-card {
  margin-bottom: 1em;
  h2 {
    justify-content: space-between;
    width: 100%;
    * {
      align-self: flex-end;
      vertical-align: middle;
    }
  }
}

.transaction-form {
}
