@import 'variables';

// External styles
@import 'material-icons';
@import 'material-design-lite';

// App styles
@import 'material-extras';
@import '_mixins';

a {
  text-decoration: none;
}

.transaction-card {
  margin-bottom: 1em;
  min-height: auto;
  h1 {
    justify-content: space-between;
    width: 100%;
    * {
      align-self: flex-end;
      vertical-align: middle;
    }
  }
  .mdl-card__title {
    padding-bottom: 0;
  }
  .format-money.negative {
    color: $color-money-income;
  }
}

.transaction-form {
}

.transaction-form-location {
  .mdl-textfield {
    @extend .make-icon-room;
  }

  .coordinate-pending {
    @extend .unset-icon;
  }

  .coordinate-disabled {
    @extend .inactive-icon;
    @extend .unset-icon;
  }
}

.transaction-form-value {
  .mdl-textfield {
    @extend .make-icon-room;
  }
  .mdl-textfield::before {
    content: '$';
    position: absolute;
    bottom: 24px;
    left: -14px;
  }
  .mdl-icon-toggle:not(.is-checked) .mdl-icon-toggle__label {
    @extend .inactive-icon;
  }
}
