{{#mdl-nav
  title=(t 'app.name')
  fixedDrawer=true
  fixedHeader=true
  mobileTitle=(t 'app.name')
}}
  {{mdl-nav-item name=(t 'app.transactions') route='transaction.index' inHeader=false}}

  <div class="mdl-grid">
    <div class="mdl-cell x-mdl-cell--full">
      {{outlet}}
    </div>
  </div>
{{/mdl-nav}}
