{{#mdl-nav
  title='CashCache'
  fixedDrawer=true
  fixedHeader=true
  mobileTitle='CashCache'
}}
  {{mdl-nav-item name='Transactions' route='transaction.index' inHeader=false}}

  <div class="mdl-grid">
    <div class="mdl-cell x-mdl-cell--full">
      {{outlet}}
    </div>
  </div>
{{/mdl-nav}}
